@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
.App {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
html[theme="dark-mode"] {
}

.darkmode {
  background-color: rgb(26, 26, 26);
  filter: invert(1) hue-rotate(180deg);
}
.darkmode .card p {
  filter: invert(1) hue-rotate(180deg);
}
body {
  overflow-x: hidden;

  background-color: white;
}
* {
  font-family: "Poppins", sans-serif;
}
.card {
  background-color: green;
  width: 100px;
  height: 150px;
  font-size: 0;
  border-radius: 2em 0 0 0;
  border: 8px solid black;
}
.board {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 2em;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
.turned {
  background-color: dodgerblue !important;
  font-size: 2em;
  pointer-events: none;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s ease;
}

.history {
  width: 100%;
}
.list {
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  /* padding: 1em; */
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 1em;
}
.list-card {
  padding: 1em 2em;
  border-radius: 2em;
  color: white;
  border: 8px solid black;
}
code {
  display: flex;
  gap: 1em;
}
button {
  padding: 1em 2em;
  border-radius: 2em;
  border: none;
  background-color: black;
  color: white;
  border: 8px solid black;
}
button:disabled {
  opacity: 0.6;
}
.Master {
  background-color: rgb(175, 0, 0);
}
.Beginner {
  background-color: green;
}
.Moderate {
  background-color: rgb(170, 170, 0);
}
